.card {
  background-color: var(--el-bg-color);
  border-radius: var(--el-border-radius-base);
  box-shadow: var(--el-box-shadow);
  padding: 20px;
}

.content-box {
  margin: 20px;
}

@media (max-width: 768px) {
  .content-box {
    margin: 10px;
    padding: 10px;
  }

  .el-form {
    label-width: 100px;
  }

  .el-col {
    &:span-12 {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}